* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #000000;
}

.page-header {
    display: flex;
    justify-content: center;
    padding: 28px 0 28px;
    background: #000000;
}

.header-logo {
    display: block;
}

.main-banner {
    display: block;
    width: 100%;
}

.top-infocard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 66px 0 188px;
}

.top-infocard-text {
    max-width: 766px;
    margin-bottom: 64px;
}

.top-infocard-subtitle {
    text-transform: uppercase;  
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

.top-infocard-title {
    margin-bottom: 24px;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
}

.top-infocard-description {
    line-height: 24px;
    font-size: 16px;
}

.top-cards {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
    justify-content: center;
    padding: 0 0 80px;
    background-color: #FFFFFF;
}

.top-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26px 26px 34px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.top-card-image {
    display: block;
    margin-bottom: 26px;
}

.top-card-description {
    max-width: 300px;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
}

.middle-banners {
    background-color: #E0E0E0;
    padding: 0 94px 0;
}

.middle-banners-wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 32px;
    justify-content: center;
    position: relative;
    bottom: -64px;
}

.middle-banner {
    width: 100%;
    height: 100%;
    display: block;
}

.bottom-cards {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 16px;
    justify-content: center;
    padding: 0 0 138px;
    background-color: #FFFFFF;
    margin-top: 279px;
}

.bottom-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 32px 66px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.bottom-card-image {
    display: block;
    margin-bottom: 14px;
}

.bottom-card-description {
    max-width: 367px;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
}

.bottom-infocard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 104px;
}

.bottom-infocard-text {
    max-width: 550px;
    margin-bottom: 32px;
}

.bottom-infocard-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 18px;
}

.bottom-infocard-description {
    line-height: 24px;
    font-size: 16px;
    text-align: center;
}

.bottom-infocard-desktop-image {
    display: block;
    width: 100%;
}

.bottom-infocard-mobile-image {
    display: block;
    width: 100%;
}

.page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px 0 ;
    background: #000000;
}

.footer-icons {
    display: flex;
    list-style: none;
    margin-bottom: 16px;
}

.footer-icon {
    margin: 0 8px;
}

.footer-text {
    text-transform: uppercase;
    line-height: 12px;
    font-size: 10px;
    color: #BDBDBD;
    text-align: center;
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .top-infocard {
        padding: 84px 26px 80px;
    }

    .top-infocard-text {
        text-align: center;
    }

    .card-01 {
        grid-area: card01;
	}

	.card-02 {
        grid-area: card02;
    }

	.card-03 {
        grid-area: card03;
    }

    .top-cards {
        display: grid;
        grid-template-columns: 350px 350px;
        grid-template-rows: auto;
        grid-template-areas:  
        "card01 card02"
        "card03 card03";
        padding: 0px 26px 80px;
    }
}

@media screen and (min-width: 1023px) {
    .bottom-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        padding: 0 72px 138px;
        margin-top: 170px;
    }

    .bottom-card {
        padding: 34px 32px 66px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
    }

    .bottom-card-image {
        display: block;
        margin-bottom: 14px;
    }

    .bottom-card-description {
        line-height: 24px;
        font-size: 14px;
    }
}

@media screen and (max-width: 1023px) {
    .middle-banners {
        background-color: #E0E0E0;
        padding: 0 24px 0;
    }

    .banner-01 {
        grid-area: banner01;
    }

    .banner-02 {
        grid-area: banner02;
    }

    .banner-03 {
        grid-area: banner03;
    }

    .middle-banners-wrapper {
        display: grid;
        grid-template-areas:  
        "banner01 banner02"
        "banner03 banner03";
        gap: 24px 14px;
        justify-content: center;
        position: relative;
        bottom: -32px;
    }

    .middle-banner {
  
        display: block;
    }

    .bottom-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        padding: 0 72px 138px;
        margin-top: 120px;
    }

    .bottom-card {
        padding: 34px 32px 66px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
    }

    .bottom-card-image {
        display: block;
        margin-bottom: 14px;
    }

    .bottom-card-description {
        line-height: 24px;
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .top-infocard {
        padding: 84px 26px 80px;
    }

    .top-infocard-text {
        text-align: center;
        margin: 0 0 68px;
    }

    .top-infocard-subtitle {
        font-size: 20px;
    }

    .top-infocard-title {
        margin-bottom: 18px;
        font-size: 28px;
    }

    .top-infocard-image {
        width: 100%;
        max-width: 240px;
    }

    .top-cards {
        grid-template-columns: 1fr;
        padding: 0px 26px 80px;
    }

    .bottom-cards {
        grid-template-columns: 1fr;
        padding: 0px 26px 80px;
    }

    .bottom-card-description {
        max-width: 300px;
    }

    .bottom-infocard {
        padding: 0px 0px 36px;
        display: flex;
        flex-direction: column;
    }

    .bottom-infocard-text {
        text-align: center;
        margin: 0 0 68px;
        padding: 51px 32px 0px;
        order: 2;
    }

    .bottom-infocard-image {
        order: 1;
        margin: 0px 51px;
    }

    .bottom-infocard-title {
        margin-bottom: 18px;
        font-size: 24px;
    }

    .bottom-infocard-image {
        width: 100%;
    }

    .bottom-infocard-desktop-image {
        display: none;
    }
}

@media screen and (max-width: 769px) {
    .main-banner-desktop{
        display: none;
    }

    .bottom-infocard-desktop-image {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .main-banner-mobile {
        display: none;
    }

    .bottom-infocard-mobile-image {
        display: none;
    }
}